/* normalize css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*, ::before, ::after {
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
  font-size: 16px; /* 1rem = 16px */
  scroll-behavior: smooth;
}


body {
  font-size: 1rem;;
	line-height: 1.25;
  text-align: center;
  font-family: 'Roboto', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: rgb(12, 12, 12, 0.985);
  color: whitesmoke;
  word-break: break-word;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button, a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
}


/* global css */
main {
  padding: 3rem 1rem;
}


h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 1.5rem 0;
  font-size: 2rem;
}

.navbar, .navbar ul.dropdown-menu {
  background-color: black !important;
}

.navbar .container-fluid {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  text-align: left;
}

a {
  padding: 1rem !important;
  color: white !important;
}

.navbar a.nav-link:hover {
  color: rgba(255, 171, 157, 1) !important;
  transition: color 0.5s linear;
}

a.navbar-brand {
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: rgba(255, 171, 157, 1) 2px solid;
}

.language-switcher {
  max-width: 100px;
  margin: 0 1rem;
}

hr {
  border: none;
  height: 2px;
  background-image: linear-gradient(to right,#414040, #02020200, #414040);
  width: 90%;
  max-width: 1300px;
  margin: 0rem auto;
}

/* presentation */
section.presentation {
  margin: 0 auto 7rem;
  max-width: 1200px;
}

section.presentation h1 {
  text-align: center;
  font-size: 2.5rem;
  margin: 8rem 0 3rem;
  line-height: 1;
}

section.presentation h2 {
  font-size: 1.3rem;
  margin-bottom: 3rem;
}

section.presentation p {
  margin: 2rem 0;
  text-align: justify;
}

section.presentation svg {
  padding: 0 0.2rem;
}



/* grids */

.grids {
  width: 100%;
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  margin: 7rem auto;
}

.grids > div {
  width: 30%;
  margin: 1rem 0;
}

.grid-empty {
  background-color: #0A0A0A;
  color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.1rem;
  border: 1px solid white;
}

.grid-empty h3 {
  text-align: center;
  font-size: 0.89rem;
  margin: 0 auto;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(3, 30%);
  gap: 5%;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12%;
  text-align: center;
  border-radius: 5px;
  font-size: 2rem;
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.grid-item > img {
  width: 90%;
  height: 90%;
}


/* Projet component */

section.projects-container {
  margin: 0rem auto;
  max-width: 1200px;
}

section.projects-container h2 {
  margin: 6rem auto 3rem;
}

.carousel-container {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: 16px;
  padding: 16px 0;
}

.carousel-container  .project {
  scroll-snap-align: center;
  max-width: 300px;
  flex: 0 0 auto;
}

div.project {
  border-radius: 16px;
  margin: 1rem auto;
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

article.project {
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

article.project h3 {
  text-align: center;
  margin-bottom: 2.3rem;
  font-size: 1.7rem;
}

article.project h4 {
  font-weight: bold;
  margin: 1.5rem 0 0.5rem;
}

article.project ul.list-tech-stack {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  margin: 1rem 0;
}

article.project ul.list-tech-stack li {
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
  margin: 0.2rem;
  font-size: 0.8rem;
}

article.project ul.list-tech-stack li {
  background-color: rgba(255, 171, 157, 0.8);
}

article.project ul.features {
  list-style-type: circle;
  margin-left: 2.5rem;
}

.description {
  width: 100%;
}

.image-layout {
  width: 100%;
}

.image {
  width: 100%;
  border-radius: 5px;
}

.description a{
  display: block;
  width: 150px;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  margin: 2rem auto !important;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

.description span{
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  border-radius: 5px;
}

.description a::before, .description a::after{
  content:"";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.3s linear;
  background: rgba(255, 171, 157, 1);
}

span::before, span::after{
  content:"";
  width:2px;
  height:0;
  position: absolute;
  transition: all 0.3s linear;
  background: rgba(255, 171, 157, 1);
  border-radius: 5px;
}
.description a:hover::before, .description a:hover::after{
  width: 100%;
}
.description a:hover span::before, .description a:hover span::after{
  height: 100%;
}

.button::before{
  left: 50%;
  top: 0;
  transition-duration: 0.4s;
}
.button::after{
  left: 50%;
  bottom: 0;
  transition-duration: 0.4s;
}
.button span::before{
  left: 0;
  top: 50%;
  transition-duration: 0.4s;
}
.button span::after{
  right: 0;
  top: 50%;
  transition-duration: 0.4s;
}
.button:hover::before, .button:hover::after{
  left: 0;
}
.button:hover span::before, .button:hover span::after{
  top: 0;
}





/* contact component */
section#contact {
  margin: 3.5rem auto;
  padding: 0.1rem 0 2rem;
}

section#contact ul li {
  margin: 1rem 0;
}

section#contact li svg {
  color: rgba(255, 171, 157, 0.8);
  height: 17px;
  margin-right: 0.2rem;
}

.cta {
  position: relative;
  display: inline-block;
  padding: 19px 22px;
  color: inherit;
  text-decoration: none;
  transition: all 0.2s ease;
  overflow: hidden;
  margin-top: 1rem;
}

.cta::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 30%;
  height: 100%;
  border-radius: 28px;
  background: rgba(255, 171, 157, 0.8);
  z-index: -1;
  transition: all 0.3s ease;
}
.cta:hover::before {
  width: 100%;
  border-radius: 0; /* Pour éviter de garder le bord arrondi quand l'effet est appliqué */
  height: 100%;
  background: rgba(255, 171, 157, 0.95);
  border-radius: 25px;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.96);
}


footer {
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.862);
}

footer div > * {
  margin: 1rem 0;
}

footer div {
  margin: 0 auto;
  max-width: 1600px;
}

p.brand{
  width: 50px;
  padding: 0.75rem;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: rgba(255, 171, 157, 1) 1px solid;
  margin: 0 auto;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer .icon {
  height: 25px;
  color: rgba(255, 171, 157, 0.8);
  padding: 0.5rem;
}

footer .icon:hover {
  color: rgba(255, 171, 157, 0.5);
}


.timeline-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 80vh;
  margin: 5rem auto;
}

.timeline-container h2 {
  width: 100%;
  margin-bottom: 4rem;
}

.timeline {
  position: relative;
  width: 750px;
}

.vertical-line {
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.873); /* Couleur de la ligne */
  transform: translateX(-50%);
}

.timeline-item {
  display: flex;
  align-items: center;
  font-size: 1rem;
  width: 100%;
  position: relative;
  margin: 5rem 0;
}

.timeline-item:nth-child(odd){
  flex-direction: row-reverse;
}

.timeline-item .part1 {
  width: 40%;
  margin: 5rem 0;
  text-align: right;
  font-weight: bold;
}

.timeline-item:nth-child(odd) .part1 {
  text-align: left;
}

.timeline-item .part2 {
  width: 57%;
  margin: 5rem 0;
}

.part2 {
  display: flex; /* Utiliser flexbox pour l'alignement */
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  position: absolute;
}

.timeline-item:nth-child(even) .part2 {
  flex-direction: row; /* Articles avec index pair : direction normale */
  left: 45.7%;
}

.timeline-item:nth-child(odd) .part2 {
  flex-direction: row-reverse; /* Articles avec index impair : direction inversée */
  right: 45.7%;
}

.circles {
  position: relative; /* Nécessaire pour le positionnement absolu des cercles */
  width: 15%;
  height: 4rem; /* Hauteur du cercle le plus grand */
  display: flex;
  justify-content: center; /* Centrer le cercle large */
  align-items: center; /* Centrer le cercle large */
}

.circle {
  position: absolute; /* Positionnement absolu pour superposer les cercles */
  border: 1px solid; /* Couleur par défaut des cercles */
  border-radius: 50%; /* Arrondi des coins */
  display: flex; /* Utiliser flexbox pour centrer le contenu */
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
}

.circle.large {
  width: 4rem; /* Taille du cercle large */
  height: 4rem;
  border: 1px solid rgb(203, 204, 207);
  opacity: 0.3;
}

.circle.medium {
  width: 3rem; /* Taille du cercle moyen */
  height: 3rem;
}

.circle.small {
  width: 2rem; /* Taille du cercle petit */
  height: 2rem;
}

.circle.dot {
  width: 0.5rem; /* Taille du point central */
  height: 0.5rem;
  background-color: rgba(34, 197, 94, 1); /* Couleur du point */
  border-radius: 50%; /* Faire du point un cercle */
}

.horizontal-line {
  width:8%; /* Prendre toute la largeur disponible */
  height: 1px; /* Hauteur de la ligne */
  margin: 20px 0; /* Marge en haut et en bas pour espacer des cercles et du contenu */
}

.timeline-item span {
  display: none;
}

.content {
  width: 73%; /* Largeur maximale du contenu */
  background-color: rgba(0, 0, 0, 0.05); /* Couleur de fond du contenu */
  border-radius: 8px; /* Coins arrondis */
  border: 1px solid;
  font-size: 0.8rem;
  margin: 0;
  padding: 1rem 0;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px) saturate(180%);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.content h3 {
  text-transform: uppercase;
  border-bottom: 1px solid;
  width: 90%;
  margin: 0 auto;
  padding: 0.3rem 0;
}

.content p {
  padding: 0.5rem;
}


/* media queries */
@media (max-width: 768px) {

  .vertical-line {
    left: 20.8px;
  }

  .timeline {
    width: 100%;
  }

  .timeline-item {
    left: 10px;
  }

  .timeline-item:nth-child(odd) .part2 {
    flex-direction: row;
    right: 0;
    left: 0;
  }

  .timeline-item:nth-child(even) .part2 {
    right: 0;
    left: 0;
  }

  .timeline-item .part1 {
    display: none;
  }

  .timeline-item .part2 {
    flex-direction: row;
    width: 100%;
    margin: 2rem 0;
    position: relative;
  }

  .timeline-item span {
    display: block;
    position: absolute;
    padding: 0.5rem 0.2rem;
    left: -20px;
    top: 18%;
    font-size: 0.75rem;
    width: 70px;
    font-weight: bold;
    background-color: rgb(15, 15, 15);
  }

  .circles {
    width: 20px;
    height: 3rem;
  }

  .horizontal-line {
    width: 10%;
    margin-left: 15px;
  }

  .content {
    width: 75%;
    /* min-height: 250px; */
  }

  .content .start-time {
    text-align: left;
    margin: 0  0 0 1rem;
    padding: 0;
  }
}

@media screen and (min-width: 768px){
  .grid-empty h3{
    font-size: 1.2rem;
  }

  footer div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

  footer div > * {
    width: 25%;
  }

  section.presentation p {
    margin: 0;
    width: 29%;
  }

  section.presentation div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  section.projects-container.not-mobile {
    margin: 0rem auto;
    position: relative;
  }

  .all-projects {
    min-height: 115vh;
    max-width: 1400px;
  }

  section.projects-container.not-mobile div.project {
    position: absolute;
    max-width: 1100px;
    cursor: pointer;
    opacity: 0.6;
    overflow: hidden;
    height: 900px;
    width: 87%;
    background-color: transparent;
    border: 1px solid rgba(255, 171, 157, 0.5);
    --title-content: ""
  }

  section.projects-container.not-mobile div.project.active {
    opacity: 1;
    background-color: rgb(10, 10, 10);
  }

  section.projects-container.not-mobile div.project article.project {
    text-align: justify;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    opacity: 0;
  }

  section.projects-container.not-mobile div.project.active article.project {
    opacity: 1;
    transition-delay: 1s;
    transition: opacity 2s ease-in;
  }

  section.projects-container.not-mobile div.project::before,
  section.projects-container.not-mobile div.project::after {
    content: var(--title-content);
    position: absolute;
    max-width: 10px;
    word-break: break-all;
    text-transform: uppercase;
    top: 20px;
    color: rgba(255, 255, 255, 0.4);
    line-height: 1.25rem;
    font-size: small;
  }

  section.projects-container.not-mobile div.project:hover::before,
  section.projects-container.not-mobile div.project:hover::after {
    color: rgba(255, 255, 255, 1);
    transition: color 0.3s linear;
  }

  section.projects-container.not-mobile div.project::before {
    left: 7px;
  }

  section.projects-container.not-mobile div.project::after {
    right: 7px;
  }

  section.projects-container.not-mobile div.project.active::before,
  section.projects-container.not-mobile div.project.active::after {
      opacity: 0;
  }

  .image-layout {
    width: 80%;
  }
}

@media screen and (min-width: 1024px){
  .grids {
    max-width: 1000px;
  }

  .grid-empty h3 {
    font-size: 1.6rem;
  }

  article.project {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  h3 {
    width: 100%;
  }

  .description{
    width: 30%;
  }

  .image-layout {
    width: 60%;
  }

  .all-projects {
    min-height: 90vh;
  }

  section.projects-container.not-mobile div.project {
    height: 700px;
    width: 90%;
    padding: 2rem 0rem;
  }
}
